{% extends 'base.html' %}
{% block title %}{{ dado.nome }}{% endblock %}
{% block content %}
   <div class="row">
     <div class="col s12 m3 center">
         <img class="responsive-img circle img" src="{{ dado.imagen.url }}">
     </div>
     <div class="col s12 m9 desc">
         <h1 class="center">{{ dado.nome }}</h1>
         <p>{{ dado.descricao }}<br/> Conheça meu <a href="{{ dado.github }}">GitHub</a> e meu <a href="{{ dado.linkdin }}">Linkdin</a> </p>
     </div>
   </div>
    <div class="row">
        <div class="collection">
           <a class="collection-item titulo">Dados Pessoais</a>
        </div>
        <div class="dp">
            <h6>Data Nascimento: <small>{{ dado.dataNacimento}}</small></h6>
            <h6>Idade: <small>{{ dado.idade}} anos</small></h6>
            <h6>Telefone: <small>({{ dado.ddd}}) {{ dado.celuar }}</small></h6>
            <h6>E-mail: <small><a href="mailto:seuemail@mail.com">{{ dado.email }}</a></small></h6>
            <h6>GitHub: <small><a href="{{ dado.github }}">{{ dado.github}}</a></small></h6>
        </div>
    </div>
    {% include 'conhecimento.html' %}
    {% include 'projetos.html' %}
{% endblock %}