<div class="row">
    <div class="collection">
        <a class="collection-item titulo">Conhecimentos</a>
    </div>
    <div class="dp">
        {% for conhecimento in dado.conhecimento.all %}
            <div class="row">
               <div class="col s6">
                  <h6>{{ conhecimento.nome }}</h6>
               </div>
               <div class="col s6">
                  <div class="right">
                      {% for vezes in nivel %}
                        {% if vezes <= conhecimento.nivel %}
                            <a class="left"><i class="material-icons">star</i></a>
                        {% endif %}
                        {% if vezes > conhecimento.nivel %}
                            <a class="right"><i class="material-icons">star_border</i></a>
                        {% endif %}
                    {% endfor %}
                  </div>
               </div>
            </div>
        {% endfor %}
   </div>
</div>