<div class="row">
    <div class="collection">
        <a class="collection-item titulo">Projetos</a>
    </div>
    {% for projeto in dado.projetos.all %}
    <div class="dp">
        <div class="row">
            <div class="col s12">
                <h6>Nome Projeto : <small>{{ projeto.nome }}</small></h6>
                <h6>Link : <small><a href="{{ projeto.link }}">{{ projeto.link }}</a></small></h6>
                <p class="desc">{{ projeto.descricao }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>